.loginPage {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
}
.display {
  width: 80%;
  margin-bottom: 1px;
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
  }

  tr {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
  .sameRow {
    width: 80%;
    display: flex;
    border: 1px solid black;
  }
  .first,.second, .third {
    border: 1px solid black;
    text-align: center;
  }
  .first {
    width: 30%;
  }
  .second {
    width: 10%;
  }
  .third {
    width: 50%;
  }
  .buttonStyle {
    text-align: center;
    border: 1px solid black;
    width: 10%;
  }
  button {
    width: 100%;
  }
  h4 {
    font-weight: bold;
  }
}

#id1 table,th,td{
  border: 1px solid black;
}
#id1 #id5 {
  width: 50%;
}
